header {
    display: flex;
    margin: 0 auto;
    padding: 12px 36px;
    border-bottom: none;
    max-width: 1330px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.4;
}

#title {
    padding: 0 6px 0 0;
}

#title>a>svg {
    position: relative;
    width: 80px;
    height: 40px;
    right: 3px;
    top: 2px;
    fill: #F1641E;
}

#middle-header {
    padding-right: 18px;
    width: 100%;
    flex: 1 1 0%;
    display: flex;
}

#search{
    padding: 0;
    margin: 0;
    flex: 1 1 0%;
    display: inline-block;
}

#search>form {
    display: flex;
}

#search>form>div {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    border-radius: 96px;
    box-shadow: 1px 2px 4px 0 rgba(14,14,14,.0901960784) inset;
    height: 48px;
}

#search>form>div>input {
    border-width: 2px;
    border-color: #222;
    padding: 9px 42px 9px 18px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1;
    font-size: 16px;
    line-height: 28px;
    height: 26px;
    width: 100%;
    background: rgba(0,0,0,0.04);
    border-right: none;
}

#magnifying-glass {
    border-width: 2px;
    border-color: #222;
    text-align: left;
    padding: 12px 21px 12px 15px;
    height: 48px;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-left: none;
    background: rgba(0,0,0,0.04);
    transition: transform .1ms;
}

#magnifying-glass>svg {
    display: inline-block;
    color: #222;
    fill: currentColor;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    bottom: 2px;
    right: 1px;
}

#magnifying-glass:hover {
    transform: scale(1) perspective(1px);
    background-color: rgba(14,14,14,.0901960784);
}

#right-header {
    flex-shrink: 0;
}

#right-header>nav {
    display: block;
}

#list-header {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

#sell-link-header {
    font-size: 13px;
    line-height: 1.4;
    min-width: 36px;
    padding: 9px 15px;
    display: inline-block;
    border-radius: 24px;
    text-align: center;
    vertical-align: middle;
    margin-right: 6px;
    background: none;
    border: none;
    text-decoration: none;
    background-color: rgba(34,34,34,.075);
}

.icon-header {
    background: none;
    border: none;
    text-decoration: none;
    line-height: 1;
    padding: 12px;
    border-radius: 24px;
    min-height: 48px;
    min-width: 48px;
    text-align: center;
    vertical-align: middle;
}

.icon-header>svg, .icon-header>span {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    vertical-align: middle;
    width: 24px;
    transform: translate3d(0, -1px, 0);
}

#notification, #avatar {
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    padding-right: 6px;
}

#avatar>span>img {
    border-radius: 50%;
}

#sell-link-header:hover {
    box-shadow: 0 4px 20px rgba(34,34,34,.15);
    transition: padding 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),margin 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42);
    padding: 10px 16px;
    margin: 0 5px 0 -1px;
    background-color: rgba(34,34,34,.15);
}

#favorite:hover, #basket:hover {
    transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),opacity 150ms ease-out;
    background-color: rgba(34,34,34,.075);
    transform: scaleX(1.035) scaleY(1.035) perspective(1px);
}

#notification:hover {
    transition: padding 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), margin 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),box-shadow 200ms ease-out;
    background-color: rgba(34,34,34,.075);
    padding: 13px 7px 13px 13px;
    margin: -1px;
}

#avatar:hover {
    transition: padding 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), margin 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),box-shadow 200ms ease-out;
    background-color: rgba(34,34,34,.075);
    padding: 13px 7px 13px 13px;
    margin: -1px;
}

#separation {
    border-bottom: 2px solid rgba(34,34,34,.15);
}

#menu {
    display: flex;
    margin: 0 auto;
    padding: 0 36px;
    max-width: 1330px;
    font-size: 13px;
    line-height: 18px;
}

#menu>ul {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    max-width: 100%;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
}

.menu-list {
    padding-bottom: 12px;
    margin-top: 4px;
    margin-right: 12px;
}

.menu-list>a {
    text-decoration: none;
    width: 100%;
    display: table;
}

.menu-list>a>span {
    display: table-cell;
    text-align: left;
}

.menu-list:hover {
    transition: border 0.05s;
    border-bottom: 2px solid #222;
    margin-bottom: -2px;
}

#menu-button{
    display: none;
}

#menu-button>svg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#menu-button:hover{
    transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42);
    transform: scaleX(1.035) scaleY(1.035) perspective(1px);
    background-color: rgba(34,34,34,.075);
}

#menu-button:hover svg{
    transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42);
    transform: scaleX(.965) scaleY(.965);
}

#list-header>li:hover span {
    display: block;
}

.description {
    transform: translate(-15%);
    background: #222;
    border-radius: 6px;
    color: #fff;
    padding: 12px;
    white-space: nowrap;
    transition: opacity 300ms cubic-bezier(0.175, 0.745, 0.425, 1.11),transform 300ms cubic-bezier(0.175, 0.745, 0.425, 1.11),visibility 300ms cubic-bezier(0.175, 0.745, 0.425, 1.11);
    box-shadow: 0 4px 20px rgba(34,34,34,.15);
    z-index: 60;
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

.show-description {
    visibility: visible;
    opacity: 1;
    transform: translate(-15%, 47%);
}

.show-button-description {
    visibility: visible;
    opacity: 1;
    transform: translate(-15%, 22%);
}

.arrow>svg {
    fill: rgb(172, 172, 172);
}

#hamburger-menu {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 80;
    background: rgba(34,34,34,.65);
    transition-delay: 0s;
    overscroll-behavior: contain;
    visibility: hidden;
}

.show-hamburger-menu{
    display: flex !important;
    visibility: visible !important;
}

#hamburger-menu-content{
    max-width: 320px;
    width: 40%;
    top: 0px;
    height: 120vh;
    background-color: #fff;
    z-index: 70;
    transition-delay: 75ms;
    padding: 0;
    padding-bottom: 24px;
    position: fixed;
    box-shadow: 0 6px 36px rgba(34,34,34,.325);
    transition: opacity 150ms ease-out,transform 255ms cubic-bezier(0.175, 0.745, 0.425, 1.11);
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}

#hamburger-first-section {
    padding: 12px 0 12px 12px;
    display: flex;
    align-items: center;
}

#hamburger-title {
    flex: 5 1 0%;
}

#hamburger-title>a>svg {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    fill: #F1641E;
}

.hamburger-close {
    flex: 1 1 0%;
    padding-right: 12px;
}

.hamburger-close>button {
    padding: 12px;
    line-height: 1;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    display: inline-block;
    min-height: 48px;
    min-width: 48px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
    top: 1px;    
}

.hamburger-close>button>svg {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    vertical-align: middle;
    width: 24px;
    transform: translate3d(0, -1px, 0);
}

.hamburger-close>button:hover {
    padding: 13px;
    margin: -1px;
    background-color: rgba(34,34,34,.075);
    transition: background 150ms ease-out,box-shadow 200ms ease-out;
}

#hamburger-second-section {
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
}

#hamburger-second-section>div {
    flex: 4 1 0%;
    padding: 24px 0 24px 12px;
}

#hamburger-second-section>div>h6 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
    top: 50% !important;
}

#hamburger-third-section {
    overflow-y: scroll;
    height: 100%;
}

#hamburger-third-section>ul {
    margin-bottom: 120px;
}

#list-sales {
    padding: 6px !important;
}

#list-sales>a {
    text-decoration: none;
    padding: 6px;
    display: inline-block;
}

#list-sales>a:hover {
    text-decoration: underline;
}

#hamburger-third-section>ul>li {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

#hamburger-third-section>ul>li>svg {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    vertical-align: middle;
    width: 24px;
    align-self: flex-end;
}

#hamburger-second-close {
    display: none;
    text-align: right;
    flex: 1 1 0%;
}

@media (max-width: 910px) {
    header {
        padding: 0 12px;
        flex-wrap: wrap;
    }
    #title {
        padding: 6px 6px 6px 0px;
    }
    #middle-header {
        order: 2;
        flex: auto;
        padding-right: 0;
    }
    #menu-button {
        margin-left: -12px;
        padding: 12px;
        color: #222;
        border-radius: 24px;
        display: inline-block;
        position: relative;
        min-height: 48px;
        min-width: 48px;
        text-align: center;
        margin-bottom: 12px;
        background: none;
        border: none;
    }
    #separation {
        border-bottom: 1px solid rgba(34,34,34,.15);
    }
    #menu {
        display: none;
    }
}


@media (max-width:640px) {
    #hamburger-first-section{
        display: none;
    }
    #hamburger-menu-content {
        min-width: 100%;
        max-width: 100%;
        transform: translateY(0) perspective(1px);
        transition-delay: 75ms;
    }
    #hamburger-second-section>div {
        padding: 0;
        padding-left: 12px;
    }
    #hamburger-second-close {
        display: block;
    }
}