@font-face {
	font-family: 'PTSerif-Regular';
	src: url('./fonts/PTSerif-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'PTSerif-Regular';
}

.text-center {
    text-align: center;
}

#welcome {
    background-color: #FDEBD2;
    padding: 12px 0px 12px 0px;
    font-size: 32px;
    margin: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

#recent {
    background-color: #FDEBD2;
    font-size: 16px;
    padding: 12px 24px 12px 24px;
    margin: 0;
}

#recent > p {
    margin-bottom: 12px;
}

#recent > img {
    border-radius: 7px;
    width: 58px;
    height: 58px;
}

.grid{
    display: grid;
    column-gap: 15px;
    row-gap: 12px;
    margin: 0 auto 90px auto;
    padding: 12px 50px 12px 50px;
    max-width: 1400px;
}

#grid1 {
    grid-template-columns: repeat(5, 1fr);
}

.products {
    position: relative;
}

.products img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    min-height: 118px;
    min-width: 148px;
}

.price {
    bottom: 0;
    padding: 4px 10px 4px 10px;
    position: absolute;
    background-color: white;
    margin: 0px 0px 10px 10px;
    border: lightgray solid;
    border-width: 1px;
    border-radius: 12px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.title-section {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.title-section h2 {
    line-height: 36px;
    font-weight: 700;
    font-size: 28px;
}

.title-section>p {
    color: #595959;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
}

.grid2 {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    column-gap: 15px;
    row-gap: 12px;
}

#object1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
}

#object1 img {
    min-width: 311px;
    min-height: 248px;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

#redirection {
    text-align: center;
    margin-bottom: 15px;
}

#redirection h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: .5px;
    margin: 0 auto 12px auto;
    max-width: 640px;
}

#redirection h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #595959;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto 90px auto;
    justify-content: center;
}

.flex li {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    position: relative;
    max-width: 114px;
    width: 114px;
}

.flex li>img {
    max-width: 100%;
    border-radius: 50%;
    margin: 0 auto;
}

.flex li>p {
    max-width: 100%;
    text-align: center;
    font-weight: 580;
    font-size: 16px;
    line-height: 20px;
}